/* Common Styling */
html {
    scroll-behavior: smooth;
}

.fullcontainer {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    width: 100%;
}

p {
    font-size: 20px;
    line-height: 26px;
}

.container {
    width: 1140px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.sectiontitle {
    width: 300px;
    border-bottom: 3px solid blue;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectiontitle::after {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #280347;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}

/* Home Styling */
header {
    width: 100%;
    background-color: #8f61b2;
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 15px 0;
    height: 75px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    color: #db8383;
}

.opt {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #db8383;
    transition: 0.3s;
}

.opt:hover {
    background-color: #db8383;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url("../donation_img/homepic5.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner h2 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #ae445a;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h2 span {
    background-color: #280347;
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.home_para p {
    background-color: #280347;
    color: #db8383;
    padding: 10px;
    border: 5px;
    border-color: #432E54;
    border-radius: 10px;
}

.banner p {
    font-size: 30px;
    width: 75%;
    margin-top: 10px;
}

.banner button {
    background-color: #ae445a;
    border: 5px;
    outline: none;
    color: whitesmoke;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 600;
}

/* About Section */
.about_para p {
    padding: 10px;
    border: 5px;
    border-radius: 10px;
    background: #f1b6b2;
    color: #8f61b2;
    font-size: 20px;
}

#aboutsection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutsection .cards > div {
    width: 350px;
    background-color: #f1b6b2;
    padding: 35px;
    color: #836799;
    text-align: center;
    border-radius: 15px;
    height: 215px;
    border: 2px solid #ccc;
    transition: 0.4s;
}

#aboutsection .cards > div:hover {
    width: 400px;
    margin-top: -20px;
    border-color: #836799;
    padding: 55px;
    height: auto;
}

#aboutsection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#aboutsection .cards > div p {
    font-size: 20px;
    margin-top: 15px;
}

#aboutsection .cards > div button {
    border: 1px solid #ae445a;
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutsection .cards > div:hover button {
    background-color: #d61b41;
    color: #f6f5f7;
}

/* Join Section */
.join {
    background-image: url("../donation_img/aboutuspic.jpg");
    color: #ae445a;
}

.join .jointitle {
    font-size: 40px;
    font-weight: 100;
}

.join .jointitle span {
    font-weight: 800;
}

.join button {
    margin-top: 20px;
    border: 0;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

.join button.joinnow {
    margin-right: 30px;
    font-size: 20px;
    height: 50px;
    width: 125px;
    background-color: #432E54;
    border-radius: 10px;
    color: #ae445a;
}

.join button.adoptbtn {
    background-color: #432E54;
    font-size: 20px;
    height: 50px;
    width: 335px;
    color: #ae445a;
    border-radius: 10px;
}

#joinsection p {
    font-size: 20px;
    font-weight: 600;
}

.join_para {
    background-color: #432E54;
    color: #db8383;
    padding: 10px;
    border: 5px;
    border-color: #db8383;
    border-radius: 10px;
}

/* Footer Styling */
#contactsection {
    background-color: #ae445a;
}

#contactsection .contactus {
    font-size: 35px;
    font-weight: bold;
}

#contactsection .cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#contactsection .cards2 > div {
    width: 350px;
    background-color: #f1b6b2;
    padding: 35px;
    color: #000;
    text-align: center;
    border-radius: 15px;
    height: 215px;
    border: 2px solid #ccc;
    transition: 0.4s;
}

#contactsection .cards2 > div:hover {
    width: 400px;
    margin-top: -20px;
    border-color: #836799;
    padding: 55px;
    height: auto;
}

#contactsection .cards2 > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#contactsection .cards2 > div p {
    font-size: 20px;
    margin-top: 15px;
}
